<h1>Edit Commute</h1>

<%= form_for(@commute) do |f| %>
  <% if @commute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commute.errors.count, "error") %> prohibited this commute from being saved:</h2>

      <ul>
      <% @commute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :starting_location, "Starting Location" %><br/>
  <%= f.text_field :starting_location %>
  <br /><br />
  <%= f.label :ending_location, "Ending Location" %><br/>
  <%= f.text_field :ending_location %>
  <br /><br />
  <%= f.label :mode, "Mode of Transportation" %><br/>
  <%= f.collection_radio_buttons(:mode, @mode_collection, :first, :last)%>
  <br /><br />
  <%= f.label :time, "Time of day"%><br/>
  <%= f.select :time, @times %>
  <br /><br />
  <%= f.label :description %><br/>
  <%= f.text_area :description %>
  <br /><br/>
  <%= f.submit "Edit Commute" %>
<% end %>
