<div id="app">
</div>

<h1><%= @commute.starting_location %> -to- <%= @commute.ending_location %></h1>

<%= link_to "Add a Review", new_commute_review_path(@commute) %>

<% @reviews.each do |r| %>
  <p>
    user: <%= r.user.username %> </br>
    comment: <%= r.comment %> </br>
    Created at: <%= r.created_at.strftime("%B %d %Y")  %>
  </p>
<% end %>


<% if user_signed_in? && (@commute.user == current_user)%>
  <%= link_to 'Edit Commute', edit_commute_path(@commute) %>
<% end %>
