<h1>Review Form for <%=@commute.starting_location%> - <%=@commute.ending_location%></h1>

<%= form_for([@commute, @review])  do |f| %>

  <% if @review.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@review.errors.count, 'error') %> prohibited this review from being saved:
      </h2>
      <ul>
        <% @review.errors.full_messages.each do |m| %>
          <li>
            <%= m %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :review_stars %>
    <%= f.select :review_stars, @stars, selected: 3 %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>

  <div class="actions">
    <%= f.submit 'Add Review' %>
  </div>


<% end %>
